<!--This page is brought to you by the terminal command: ember g route index. Index.hbs is special in that does not require a route in router.js-->

<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<h2>Available Rentals</h2>

<ul>
  <!--1. Data must be available at the top level of the app, ie here. 2) Data is retrieved from Firebase in index.js. 3) We display data here using the for-each loop below. 4) 'Each' is an Ember Helper. 5) 'Each' loops through the model hook in our route handler, index.js, in which we call our rentals database.-->
  {{#each model.rentals as |rental|}}
    <!-- rental=rental: components don't have it's parents data by default, it must be passed in. are completely isolated from the model that holds all the information that needed to be sent to it.  Info must be passed in manually. rental(1) is the variable name for the data in the component and rental(2) represents data from the firebase model grabbed from the loop, |rental|.-->
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

<!-- This is a new component.  The same rules as the one above generally apply. saveRental1 is the name of the function in which saveRental2 is a variable that sets the name of the saving action on the route, saveRental3. saveRental3 will be the name of an action in index.js, our route handler. -->
{{new-rental saveRental2="saveRental3"}}

<h2>All Reviews</h2>

<ul>
  <!-- Another loop specifiying which data we want to use to display stuff, and passing it into the new-review component.-->
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>

<!-- New review component will show an Add Review button by default, and a form if that button is clicked. Save button in the form triggers action saveReview, which saves input, that then gets sent to index.js in its very own "saveReview" action. -->
{{new-review saveReview="saveReview"}}

{{#link-to 'about'}}ABOUT{{/link-to}}
{{#link-to 'contact'}}CONTACT{{/link-to}}
